html{
  box-sizing: border-box;
  height: 100%;
}
*,*::after,*::before{
  box-sizing: inherit;
}

body{
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

img{
  max-width: 100%;
  height: auto;
}

h2{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;
  text-transform: capitalize;
}

.container{
  max-width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.section-txt{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
  color: #7D7D7D;
  margin-bottom: 110px;
  padding-top: 100px;
  width: 950px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.header-container{
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 90px;
  justify-content: space-between;
}

.main-logo{
  display: block;
  transition: 0.5s ease;
}

.main-logo:hover{
  opacity: 0.6;
}

.sitenav{
  display: flex;
  align-items: center;
}

.sitenav-list{
  display: flex;
  list-style-type: none;
}

.sitenav-items a{
  text-transform: capitalize;
  text-decoration: none;
  margin-right: 70px;
  font-family: "Roboto", sans-serif ;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #373737;
  transition: 0.5 linear;
}

.sitenav-items a:hover{
  border-bottom: 2px solid #717CFF;
  color: #000;
}

.apply-button{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #505050;
  text-decoration: none;
  padding: 11px 33px;
  background-color: #fff;
  border: 2px solid #717CFF;
  border-radius: 11px;
  transition: 0.5s ease;
}

.apply-button:hover{
  background-color: #717CFF;
  color: #fff;
}

.hero-main-content{
  display: flex;
}

.hero-txt{
  width: 600px;
  margin-right: 60px;
}

.hero-txt h2{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 66px;
  color: #2F2F2F;
  text-transform: capitalize;
  text-align: left;
  padding-right: 60px;
}

.hero-txt p{
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  color: #7D7D7D;

}

.btn-apply{
  width: 262px;
  height: 64px;
  display: block;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  color: #FFFFFF;
  padding: 12px 34px;
  background-color: #717CFF;
  border-radius: 11px;
  margin-top: 42px;
  margin-bottom: 100px;
  transition: 0.5s ease;
  border: 2px solid #717CFF;
}

.btn-apply:hover{
  background-color: #fff;
  color: #717CFF;
}

.social-networks-list{
  list-style: none;
  display: flex;
  align-items: center;
}

.social-networks-list li{
  margin-right: 20px;
}


.graduated-student{
  width: 470px;
  height: 565px;
  background-image: url("../img/student.png");
  background-repeat: no-repeat;
}

.featured-univers{
  background: #FAFAFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.featured-univers-container{
  justify-content: center;
  align-items: center;
}

.featured-univers h2{
  padding-top: 65px;
  text-align: center;
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  color: #373737;
  mix-blend-mode: normal;
  opacity: 0.73;
  margin-bottom: 85px;
}

.univers-list{
  list-style: none;
  display: flex;
}

.univers-item{
  margin-right: 74px;
}

.scroll-btn-list{
  display: flex;
  align-items: center;
  margin-top: 105px;
  justify-content: center;
  padding-bottom: 57px;
}

.scroll-btn-list li{
  list-style: none;
  margin-right: 21px;
}

.scroll-first-btn{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border-color:rgba(113, 124, 255, 1);
  background: rgba(113, 124, 255, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.scroll-btn-item{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border-color:rgba(124, 124, 124, 0.318837);
  background: rgba(124, 124, 124, 0.318837);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.services-container{
  padding-top: 134px;
}

.services-list{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -47px;
  padding-bottom: 136px;
}

.services-item{
  width: 344px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-right: 47px;
  margin-bottom: 50px;
}

.services-list li::before{
  content: "";
  display: block;
  width: 76px;
  height: 76px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-left: 30px;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.services-list li:nth-child(1):before{
  background-image: url("../img/icon-navigate.svg");
}
.services-list li:nth-child(2):before{
  background-image: url("../img/icon-document.svg");
}
.services-list li:nth-child(3):before{
  background-image: url("../img/icon-doc-checked.svg");
}
.services-list li:nth-child(4):before{
  background-image: url("../img/icon-home.svg");
}
.services-list li:nth-child(5):before{
  background-image: url("../img/icon-plane.svg");
}


.services-item h3{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  color: #37474F;
}

.services-item p{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.444444px;
  color: rgba(55, 71, 79, 0.721569);
  text-align: left;
}

.services-item-txt{
  padding-left: 30px;
  padding-right: 17px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  
}

.btn-learn-more{
  width: 133px;
  height: 25px;
  display: flex;
  background-color: #fff;
}

.btn-learn-more a{
  display: block;
  text-decoration: none;
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.439286px;
  color: #717CFF;
}

.btn-learn-more::after{
  content: "";
  width: 24px;
  height: 20px;
  display: block;
  background-image: url("../img/arrow-forward.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-left: 16px;
}

.news{
  background-color: rgba(250, 250, 250, 1);
}

.news-container{
  padding-bottom: 126px;
}

.news-list{
  display: flex;
  list-style: none;
  margin-bottom: 146px;
}

.news-list li::before{
  content: "";
  display: block;
  width: 344px;
  height: 244px;
  background-repeat: no-repeat;
  background-size: contain;
}

.news-list li:nth-child(1):before{
  background-image: url("../img/effect-people.png");
}
.news-list li:nth-child(2):before{
  background-image: url("../img/effect-girl\'s-face.png");
}
.news-list li:nth-child(3):before{
  background-image: url("../img/effect-animal-faces.png");
}

.news-item{
  width: 344px;
  margin-right: 46px;
}

.news time{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #565656;
}

.news time:before{
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.news-item p{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #252525;
}

.btn-join{
  width: 226px;
  height: 64px;
  display: block;
  padding: 12px 34px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  color: #FFFFFF;
  background-color: #717CFF;
  border-radius: 11px;
  margin-right: auto;
  margin-left: auto;
}

.events-list{
  display: flex;
  list-style: none;
  margin-bottom: 81px;
}

.events-item{
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 308px;
  margin-right: 30px;
}

.events-item h3{ 
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  color: #37474F;
}

.events-item p{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.444444px;
  color: rgba(55, 71, 79, 0.721569);
  padding-right: 30px;
}

.event-title{
  display: flex;
  text-align: left;
  align-items: center;
  padding-right: 150px;
}

.event-date{
  width: 76px;
  height: 76px;
  mix-blend-mode: normal;
  background-color: #dee0fc;
  border-radius: 11px;
  padding: 20px 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 25px;
  text-align: center;
  color: #717CFF;
  margin-right: 20px;
}

.event-item-bottom{
  display: flex;
  justify-content: space-between;
}

.event-item-bottom time{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 28px;
  text-align: right;
  letter-spacing: 0.444444px;
  color: #373737;
  padding-right: 30px;
}

.we-covered{
  background-color: rgba(250, 250, 250, 1);

}

.universities-list{
  display: flex;
  list-style: none;
}

.universities-item{
  width: 348px;
  margin-right: 46px;
}

.univer-title h3{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 29px;
  color: #37474F;
}

.univer-title p{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: rgba(55, 71, 79, 0.721569);
}











